<% content_for :subtitle do %>Home<% end %>
<% content_for :nav_home_active do %> active<% end %>
<% content_for :bg_dark do %>dark<% end %>
<% content_for :bg_navy do %>bg-navy<% end %>

<div class="container-fluid py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag "views/static_pages/home/squeegees_orig.jpg", class: "d-block w-100", alt: "Photograph of screen printing squeegees with different colors of inks" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "views/static_pages/home/emb_orig.jpg", class: "d-block w-100", alt: "Photograph of embroidery machines" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "views/static_pages/home/auto2_orig.jpg", class: "d-block w-100", alt: "Photograph of screen printing automatic press operators loading shirts onto a conveyor belt to be cured" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "views/static_pages/home/artdept_orig.jpg", class: "d-block w-100", alt: "Photograph of men sitting at desks working on computers" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "views/static_pages/home/patrickspals_orig.jpg", class: "d-block w-100", alt: "Photograph of a quilt with different t-shirt prints in each square - all of them designs for Patrick's Pals basketball event" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "views/static_pages/home/heatseal1_orig.jpg", class: "d-block w-100", alt: "Photograph of heat-seal press machines, with boxes of heat-seal designs behind on shelves" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "views/static_pages/home/inks_orig.jpg", class: "d-block w-100", alt: "Photograph of ink buckets on a shelf" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "views/static_pages/home/manuals_orig.jpg", class: "d-block w-100", alt: "Photograph of a screen printer operating a manual press" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "views/static_pages/home/stacking_orig.jpg", class: "d-block w-100", alt: "Photograph of a man stacking t-shirts at the end of a conveyor belt" %>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-light">
    <div class="row">
        <div class="col-xl-10 offset-xl-1 col-lg-12">
            <h2 class="text-center">ABOUT US</h2>
            <p>
                Three Twins Productions opened for business in Watertown, MA
                in 1994 with one focus: providing quality decorating services to our contract
                customers.&nbsp; We have in-house screen printing, embroidery, heat seal, and
                graphic design capabilities.&nbsp; We have the experience and expertise to
                insure that your order is completed accurately and
                on-time.<br /><br />We&rsquo;re a team of decorating experts who are here to
                partner with you and utilize our knowledge and resources to help you every step
                along the way for your complete satisfaction.
            </p>
            <div class="container" style="max-width:600px;">
                <%= image_link_to "views/static_pages/home/tnf-authorized-decorator-psst_orig.jpg", psst_path, { class: "img-fluid", alt: 'SanMar PSST Authorized Decorator brand logos' }, { title: 'SanMar PSST Program', relative: true } %>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-dark">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
            <h2 class="text-center">
                <strong>CONTACT US</strong>
            </h2>
            <div class="wsite-map"><iframe allowtransparency="true" frameborder="0" scrolling="no"
                    style="width: 100%; height: 250px; margin-top: 10px; margin-bottom: 10px;"
                    src="//www.weebly.com/weebly/apps/generateMap.php?map=google&elementid=362759927654178997&ineditor=0&control=3&width=auto&height=250px&overviewmap=0&scalecontrol=0&typecontrol=0&zoom=15&long=-71.20482249999998&lat=42.3672092&domain=www&point=1&align=1&reseller=true"></iframe>
            </div>
            <div class="container" style="padding-top: 30px;">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1 col-xs-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-xs-12 text-start">
                                    <h4 style="font-weight: bold;">email</h4>
                                    <p class="email_links">
                                        <a href="mailto:mike@three-twins.com">mike@three-twins.com</a><br />
                                        <a href="mailto:vinnie@three-twins.com">vinnie@three-twins.com</a><br />
                                        <a href="mailto:tom@three-twins.com">tom@three-twins.com</a>
                                    </p>
                                </div>
                                <div class="col-lg-4 col-xs-12 text-lg-center text-xs-start">
                                    <h4 style="font-weight: bold;">call</h4>
                                    <p>
                                        617.926.0377 &nbsp;phone<br />
                                        617.926.3824 &nbsp;fax
                                    </p>
                                </div>
                                <div class="col-lg-4 col-xs-12 text-lg-end text-xs-start">
                                    <h4 style="font-weight: bold;">address</h4>
                                    <p>
                                        18 Bridge St.<br />
                                        Watertown, MA 02472
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
