<!DOCTYPE html>
<html>
  <head>
    <title>Three Twins Productions, Inc - Screen Printing and Embroidery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description"
          content="Three Twins Productions provides Screen Printing and Embroidery services in Watertown, MA." />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: "layouts/main_nav" %>

    <div class="container-lg">
      <div class="row gy-3">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
